@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap");

@font-face {
  font-family: "Yekan";
  src: url("./yekan-font//Yekan.woff2") format("woff2");

  /* src: url("./yekan-font/");
  src: url("./yekan-font/?#iefix") format("embedded-opentype"),
    url("./yekan-font//Yekan.woff2") format("woff2"),
    url("./yekan-font//Yekan.woff") format("woff"),
    url("./yekan-font//Yekan.otf") format("opentype"),
    url("./yekan-font//Yekan.ttf") format("truetype"),
    url("./yekan-font//Yekan.svg#Yekan") format("svg"); */
  font-weight: normal;
  font-style: normal;
}
$font-main: "Yekan", sans-serif;
$brand-main-color: #49b6ff;
$brand-secondary-color: #5f7dbd;
$light-bg: #9b9b9b;
$lighter-bg: #f2f2f2;
$light-color: #62666d;
$red: #ff0000;
/* general styles */
body {
  direction: rtl;
  font-family: $font-main;
  margin: 0;
  padding: 0;
}
ul {
  padding-inline-start: 0;
}
// utilities
.d-none {
  display: none;
}
.d-block {
  display: block;
}
.color-light {
  color: $lighter-bg;
}
.container {
  max-width: 1107px;
  margin: 0 auto;
}
.flex {
  display: flex;
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.btn {
  padding: 6px 20px;
  background-color: $light-color;
  color: $lighter-bg;
  font-size: 1rem;
  border: none;
  font-family: $font-main;
  transition: all 0.5s;
}
.btn:hover {
  cursor: pointer;
  background-color: $brand-secondary-color;
}
a {
  text-decoration: none;
  color: #000;
}
li {
  list-style: none;
}
.card {
  box-shadow: 1px 3px 5px 6px #686868;
  background: #fff;
  margin: 5px 10px;
  padding: 5px 10px;
  text-align: center;
  position: relative;
  width: 230px;
  height: 360px;
  border-radius: 5px;
  h2 {
    font-size: 1rem;
  }
  img {
    height: 170px;
  }
  p {
    margin-top: 20px;
    margin-left: 20px;
    text-align: left;
    font-weight: bold;
  }

  .discounted {
    text-decoration: line-through;
    color: $light-bg;
    margin-top: 0;

    &-price {
      margin-bottom: 0;
      padding-right: 10px;
      color: $red;
      text-decoration: none;
      font-size: 1.2rem;
    }
  }
  .btn {
    position: absolute;
    left: 0;
    bottom: 0;
  }
}

// nav bar
.brand-name {
  color: $brand-main-color;
  margin-left: 1rem;
  :hover {
    cursor: pointer;
  }
  span {
    color: $brand-secondary-color;
  }
  position: relative;
}
.menu-bars {
  display: none;
  position: absolute;
  right: -45px;
  cursor: pointer;
  svg {
    font-size: 1.5rem;
  }
}
.search-holder {
  justify-self: left;
  flex-grow: 3;
  position: relative;
  color: $light-bg;
  .flex {
    justify-content: space-between;
  }
  .fa-magnifying-glass {
    position: absolute;
    top: 20%;
    right: 1.2%;
  }
  .line {
    position: absolute;
    background: $light-bg;
    width: 1.3px;
    height: 20px;
    top: 18%;
    right: 3.8%;
  }
  input {
    height: 27px;
    width: 100%;
    padding: 3px 50px;
    border: none;
    border-radius: 10px;
    background-color: $lighter-bg;
    font-family: "Yekan", sans-serif;
    input[type="text"] {
      color: $light-bg;
    }
  }
  :focus {
    outline: none;
  }
}
.cart-acc-container {
  justify-self: end;
}
.account-sign-btn {
  padding: 3px 10px;
  margin-left: 7px;
  font-size: 1rem;
  background-color: #fff;
  border: 0.5px solid $light-bg;
  border-radius: 5px;
  font-family: $font-main;
}
.account-sign-btn:hover {
  cursor: pointer;
}

.fa-cart-shopping {
  margin-right: 5px;
  padding-right: 20px;
  height: 23px;
  color: #313131;
  border-right: 0.5px solid #000;
  :hover {
    cursor: pointer;
  }
}
.navbar-menu {
  box-shadow: 0 10px 15px -15px #000;

  .nav-item {
    margin-left: 10px;
    padding: 10px 2px;
    position: relative;
    ::after {
      content: "";
      position: absolute;
      width: 0px;
      height: 3px;
      left: 50%;
      bottom: 0;
      background-color: $brand-main-color;
      transition: all ease-in-out 0.2s;
    }
    :hover::after {
      width: 100%;
      left: 0;
    }
  }
  .menu-cross {
    color: $light-color;
    position: absolute;
    vertical-align: middle;
    left: -150px;
    top: 8px;
    &:hover {
      cursor: pointer;
    }
    svg {
      font-size: 2rem;
      color: $brand-secondary-color;
    }
  }
  a {
    color: $light-color;
    display: flex;
    align-items: center;
    font-size: 1rem;
    svg {
      margin-left: 4px;
    }
  }
  .dropdown {
    position: relative;
  }
  .dropdown-content {
    padding: 4px 2px;
    display: none;
    position: absolute;
    z-index: 1;
    top: 45px;
    background-color: #fff;
    box-shadow: 3px 3px 5px 6px #ccc;
    width: 170px;
    left: -100%;
    border-radius: 5px;
    text-align: right;
    :first-child {
      margin-top: 3px;
    }
    a {
      margin: 4px 4px;
      font-size: 0.8rem;
      display: inline-block;
    }
  }
  .dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
  }
  .dropdown-content a:hover {
    color: $brand-main-color;
  }
}

// showcase
#showcase {
  margin-top: 30px;

  .carousel-item {
    justify-content: space-between;
    display: none;
    transition: all 0.3s ease-in;
    opacity: 0;
  }
  .carousel-item.active-slide {
    height: 100%;
    display: flex;
    opacity: 1;
  }
  .carousel-text {
    position: relative;
  }
  .btn {
    margin-top: 20px;
    position: absolute;
    left: 0;
    background-color: $brand-secondary-color;
  }
  .btn:hover {
    background-color: $light-color;
  }
  img {
    height: 400px;
  }
  .chevron-right,
  .chevron-left {
    position: absolute;
    top: 50%;
    padding: 5px;
    svg {
      height: 30px;
      font-size: 2rem;
    }
    :hover {
      cursor: pointer;
    }
  }
  .chevron-left {
    left: 80px;
  }
  .chevron-right {
    right: 80px;
  }
}
#top-sales {
  background-color: $lighter-bg;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 40px 0;
  h2 {
    margin-bottom: 30px;
  }
  .card {
    box-shadow: 3px 2px 5px 6px $light-bg;
  }
}

#special-offer {
  .flex {
    justify-content: space-evenly;
  }
  padding: 30px 0;
  img {
    height: 300px;
  }
  .btn {
    background-color: $brand-main-color;

    &:hover {
      background-color: $red;
    }
  }
  .discounted {
    text-decoration: line-through;
    color: $light-bg;
    margin-top: 0;
    text-align: left;
    &-price {
      margin-bottom: 10px;
      padding-right: 10px;
      color: $red;
      text-decoration: none;
      font-size: 2rem;
      text-align: left;
    }
  }
  .countdown {
    margin-right: 20px;
    padding: 0 60px;
    h3 {
      color: $light-color;
    }
  }
}

#mobile-showcase,
#console-showcase,
#laptop-showcase {
  padding-top: 50px;
  padding-bottom: 50px;
  h2 {
    padding-bottom: 20px;
  }
  .card {
    text-align: center;
    margin-bottom: 13px;
    img {
      display: inline-block !important;
    }
    .btn {
      background-color: $brand-main-color;
      border-bottom-left-radius: 5px;
      &:hover {
        background-color: $brand-secondary-color;
      }
    }
  }
  .slick-slide .card {
    width: 200px !important;
  }

  .slick-prev:before,
  .slick-next:before {
    color: $light-bg !important;
    font-size: 30px;
    z-index: 20;
    transform: translateX(-100px);
  }
  .slick-slider {
    padding-left: 30px;
  }
}

#console-showcase {
  text-align: right;
  padding: 20px 0;

  background: rgb(0, 55, 145);
  background: linear-gradient(
    45deg,
    rgba(0, 55, 145, 1) 0%,
    rgba(16, 124, 16, 1) 100%
  );
  .slick-dots {
    margin-bottom: 30px;
  }
  .container {
    max-width: 800px;
  }
  .flex {
    justify-content: space-between;
  }
  img {
    height: 400px;
  }
  h3 {
    font-size: 1.7rem;
    color: $lighter-bg;
  }
  p {
    color: $lighter-bg;
    font-size: 1.2rem;
  }
}
#footer {
  padding-top: 40px;
  .container {
    padding-top: 20px;
    border-top: solid 1px $lighter-bg;
  }
  .flex {
    align-items: flex-start;
  }
  h3 {
    font-size: 1rem;
  }

  .column {
    padding-left: 2rem;

    svg {
      margin-top: 10px;
      margin-left: 10px;
      font-size: 30px;
      color: #ccc;
    }
    .linkedin {
      svg:hover {
        color: #0e76a8;
      }
    }
    .instagram {
      svg:hover {
        color: #fb3958;
      }
    }
    .facebook {
      svg:hover {
        color: #4267b2;
      }
    }
    .twitter {
      svg:hover {
        color: #1da1f2;
      }
    }
    .youtube {
      svg:hover {
        color: #ff0000;
      }
    }
  }
  li a {
    color: $light-color;
    font-size: 0.8rem;
  }
  .contacts {
    justify-self: end;
    margin: auto;
    .email-address,
    .phone-number {
      color: #505050;

      align-items: center;
      background-color: $lighter-bg;
      padding: 5px 15px;
      margin-top: 10px;
      border-radius: 5px;
    }
    a {
      font-size: 0.8rem;
      color: #505050;
    }
    p {
      font-size: 0.75rem;
      color: $light-bg;
    }
    svg {
      margin-left: 10px;
    }
  }
  .git-hub {
    padding: 20px 0;
    font-size: 1.5rem;
    text-align: center;
    svg,
    span {
      vertical-align: middle;
      display: inline-block;
    }
  }
}
#signin {
  height: 100vh;
  width: 98vw;
  position: absolute;
  background-color: #6868682a;
  z-index: 300;

  #signin-container {
    position: relative;
    margin: 0 auto;
    margin-top: 10%;
    max-width: 330px;
    display: flex;
    padding: 10px 20px;
    flex-direction: column;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 3px 3px 5px #9b9b9b;
    .signin-tab {
      h3 {
        padding: 5px 5px;
        margin: 10px 5px;
        color: $light-color;
        &:hover {
          cursor: pointer;
        }
      }
      .active {
        color: $brand-secondary-color;
        display: block;
      }
    }
    .input-container {
      transition: all 1s ease-in-out;
      flex-direction: column;
      input {
        margin: 10px 0;
        height: 1.5rem;
        border: 0.5px solid $light-color;
        padding: 2px 5px;
      }
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      input[type="number"] {
        -moz-appearance: textfield; /* Firefox */
      }
      label {
        align-self: flex-start;
      }
    }
    .form-btn {
      margin-top: 10px;
      width: 100%;
      display: flex;
      align-items: center;
    }
    .btn {
      margin: 10px auto;
      background-color: $brand-secondary-color;
      &:hover {
        transform: scale(1.2);
      }
    }
    .cross {
      color: $light-color;
      position: absolute;
      vertical-align: middle;
      left: 46px;
      top: 25px;

      &:hover {
        cursor: pointer;
      }
      svg {
        font-size: 2rem;
        color: $brand-secondary-color;
      }
    }
  }
}
// single product
#single-product {
  margin: 30px 0;
  .flex {
    justify-content: space-between;
  }
  .single-product-detail {
    padding: 0 30px;
    max-width: 475px;
    margin-left: auto;
  }
  .discounted {
    text-align: center;
    font-size: 1.4rem;
    color: #686868;
    &-price {
      text-align: center;
      color: $red;
      font-size: 1.8rem;
    }
  }
  p {
    margin-top: 30px;
  }
  img {
    height: 350px;
    border: 0.5px solid $light-bg;
    border-radius: 5px;
    padding: 10px 0;
  }
  .add-cart-container {
    margin: 0 10px;
  }
  .gb-btn-container {
    position: relative;
    .gb-btn {
      position: absolute;
      left: 0;
      background-color: $brand-main-color;
    }
  }
}
#signin.d-block #signin-container {
  animation: signin-smooth 0.6s alternate;
}
@keyframes signin-smooth {
  0% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}
.navbar-menu.d-block .container {
  animation: sidenav-smooth 0.6s alternate;
}

@keyframes sidenav-smooth {
  0% {
    top: 0;
    right: -100px;
  }
  100% {
    right: 0;
  }
}
.carousel-item.active-slide {
  animation: slide-smooth 0.5s alternate;
}
@keyframes slide-smooth {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
// responsive
// large screens
@media (max-width: 1320px) {
  .carousel-text {
    max-width: 300px;
    margin-right: 100px;
  }
}
@media (max-width: 1175px) {
  .carousel-text {
    margin-right: 120px;
  }
  .container {
    max-width: 990px;
  }
  .card {
    width: 180px;
  }
}

// tablets
@media (max-width: 990px) {
  #navbar {
    .navbar-top {
      flex-direction: column;
    }
    .search-holder input {
      width: 50%;
    }
    .fa-cart-shopping {
      border: none;
      padding-right: 0;
    }
    .menu-bars {
      display: block;
    }
    .menu-cross {
      display: block;
    }
    .navbar-menu {
      display: none;
      width: 100vw;

      .container {
        top: 0;
        position: fixed;
        height: 100%;
        background-color: #fff;
        flex-direction: column;
        width: 200px;
        z-index: 100;
        .dropdown-content {
          position: initial;
          box-shadow: none;
        }
        .nav-item {
          align-self: flex-start;
          margin-right: 10px;
          a svg {
            margin-left: 10px;
          }
        }
      }
    }
  }
  .container {
    max-width: 700px;
  }
  .carousel-text {
    margin-right: 0px;
  }
  .search-holder .line {
    right: 6.5%;
  }

  #showcase {
    padding-bottom: 70px;
    text-align: center;
    .btn {
      left: 36%;
      margin-top: 9px;
    }
    img {
      height: 300px;
    }
  }

  #console-showcase {
    text-align: center;
    img {
      height: 300px;
    }
  }

  #special-offer {
    img {
      height: 180px;
    }
    h2,
    .countdown h3 {
      font-size: 1rem;
    }
    h2,
    p {
      text-align: center !important;
    }
    .discounted-price {
      font-size: 1.2rem;
    }
    .btn {
      margin-right: 8.5rem;
    }
  }
  #footer .container.flex {
    flex-direction: column-reverse;
  }
  #footer .column {
    justify-self: center;
    align-self: center;
    text-align: center;
  }
  #footer .guides {
    align-self: center;
    justify-self: center;
    flex-direction: column;
  }
  #showcase .flex,
  #console-showcase .flex {
    flex-direction: column-reverse;
  }

  #top-sales .flex,
  #special-offer .flex {
    flex-direction: column;
  }
  #single-product {
    .flex {
      flex-direction: column;
    }
    .single-product-detail {
      margin: auto;
      text-align: center;
    }
  }
}
@media (max-width: 800px) {
  .container {
    max-width: 600px;
  }
  .search-holder .line {
    right: 7.5%;
  }
}
// phones
@media (max-width: 672px) {
  .container {
    max-width: 400px;
  }
  #navbar {
    .search-holder {
      .line {
        right: 8.5%;
        top: 7px;
      }
      svg {
        top: 8px;
      }
      .flex {
        flex-direction: column;
      }
    }
    .cart-acc-container {
      margin-top: 10px;
      margin-left: 20px;
      .account-sign-btn {
        margin: 0;
      }
      svg {
        padding: 0;
        margin: 0;
        margin-top: 5px;
      }
    }
  }
  .slick-prev {
    left: 50px !important;
    z-index: 10;
  }
  .slick-next {
    right: 20px !important;
  }
  #top-sales h2,
  #mobile-showcase h2,
  #laptop-showcase h2 {
    text-align: center;
  }
  #showcase {
    img {
      height: 200px;
    }
    .chevron-left {
      left: 10px;
    }
    .chevron-right {
      right: 10px;
    }
  }

  #mobile-showcase .card,
  #laptop-showcase .card {
    left: 15%;
  }
  #signin #signin-container {
    max-width: 250px;
  }
  #single-product {
    img {
      margin-top: 50px;
      height: 300px;
    }
  }
}
@media (max-width: 350px) {
  .container {
    max-width: 275px;
  }

  #mobile-showcase .card,
  #laptop-showcase .card {
    left: 0%;
  }
  .slick-prev {
    left: 30px !important;
    z-index: 10;
  }
  #single-product {
    .gb-btn {
      left: 38% !important;
    }
    img {
      margin-top: 50px;
      height: 200px;
    }
  }
}
